* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  color: white;
}
@font-face {
  font-family: "silkseri-light";
  src: url("Assets/silkserif-lightitalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "silkseri-regular";
  src: url("Assets/silkserif-regularitalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "plain-light";
  src: url("Assets/plain-light-webfont.woff") format("woff");
}
@font-face {
  font-family: "plain-regular";
  src: url("Assets/plain-regular-webfont.woff") format("woff");
}
/* #0B0B0B */
/* #151515 */
#crsr {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
  position: fixed;
  z-index: 100;
  pointer-events: none; 
  position: fixed;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}
#main {
  background-color: #0b0b0b;
}
#loader {
  height: 100%;
  width: 100%;
  background-color: #0b0b0b;
  position: fixed;
  z-index: 1000;
  font-family: "plain-light";
  padding: 22vh 10vw;
}
.line {
  /* background-color: red; */
  line-height: fit-content;
  margin-bottom: 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3vw;
}
#footElement {
  padding: 1vw 0vw;
}
#footElement h2 {
  font-size: 0.8vw;
  font-family: "plain-light";
  font-weight: 300;
}
#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
#line1-part1 h5,
#line1-part1 h6 {
  font-family: "silkseri-light";
  font-size: 2.6vw;
  font-weight: 100;
}
#line1-part1 h5 {
  /* background-color: crimson; */
  width: 5vw;
  text-align: right;
}
.line h1 {
  font-size: 6.5vw;
  text-transform: uppercase;
  font-weight: 900;
}
#main {
  background-color: #0b0b0b;
  position: relative;
}
#page1 {
  width: 100%;
  height: 100vh;
  background-color: #0b0b0b;
  position: relative;
}
.line h2 {
  font-size: 5vw;
  text-transform: uppercase;
  font-family: "silkseri-regular";
  font-weight: 500;
  color: transparent;
  opacity: 0;
  -webkit-text-stroke: 1px #fff;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes nowAnime {
  0% {
    font-family: "silkseri-regular";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  45% {
    font-family: "silkseri-regular";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
  50% {
    font-family: "plain-regular";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  100% {
    font-family: "plain-regular";
    font-weight: 500;
    color: #fff;
    -webkit-text-stroke: 1px #fff;
  }
}
nav {
  width: 100%;
  height: 15%;
  padding: 9vh 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: sticky; */
  background-color: transparent;
  top: 0;
  overflow: hidden;
}
#navLeft {
  width: 10vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */

  gap: 5vw;
}
#navLeft svg {
  scale: 1;
  /* margin:3vw; */
}
#navLeft svg:nth-child(2) {
  scale: 1.3;
  /* margin:3vw; */
}
#navMiddle {
  width: 30vw;
  height: 17vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* background-color: red; */
}
#navMiddle h1 {
  font-size: 0.9vw;
  font-family: "plain-light";
  font-weight: 300;
}
#navRight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0vw;
}
#navRight h3 {
  font-family: "plain-light";
  font-weight: 300;
  font-size: 1vw;
  padding: 40px;
}
#page1 .page1Header {
  /* background-color: red; */
  width: 72%;
  margin-left: 28%;
}

#page1 .page1Header:nth-child(2) {
  margin-top: 16vh;
}

#page1 .page1Header h1 {
  line-height: 15.1vh;
  font-family: "plain-regular";
  font-size: 7.2vw;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}
#page1 .page1Header:nth-child(2) h1::before{
  content:"01";
  font-family: "silkseri-regular";
  font-weight: 300;
  font-size:3vw;
  left:-12%;  
  position:absolute;
  top:-10%;
  /* animation-name:page1BeforeAnime;
  animation-duration: 2s;
  animation-delay: 7s;
  animation-timing-function: linear;
  animation-iteration-count: 1; */

}
#page1 .page1Header h1 span {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;

}
#page1 .page1Header h1 span:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  font-weight: 500;
  text-decoration: none;
}
/*!Page2 */

#page2 {
  height: 85vh;
  width: 100%;
  background-color: #0b0b0b;
  padding: 10vh;
  /* background-color: red; */
  position: relative;
  margin-top:20vw;
  margin-bottom:15vw;
}
#page2 .videoWrapper {
  background-color: pink;
  width: 70%;
  margin-left: 30%;
  height: 80vh;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#page2 .videoWrapper video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
#page2 .videoWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
}
#playIcon {
  width: 10vw;
  height: 10vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0%;
  left: 80%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 3;
  background-color: #ffa63d;
}
#playIcon i {
  font-size: 2vw;
}
/* !Page 3 */
#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #0b0b0b;
  position: relative;
  padding-top:5vw;
  padding-bottom: 3vw;
  margin-bottom:20vw;
}
#page3 #underline{
  margin-left:27vw;
  margin-top:4vw;
}
#page3 h1 {
  font-family: "plain-regular";
  font-size: 7vw;
  position:relative;
  margin-left:27vw;
  text-transform: uppercase;
  font-weight: 500;
}
#page3 h1::before{
  content:"02";
  font-family: "silkseri-regular";
  font-weight: 300;
  font-size:3vw;
  left:-12%;  
  position:absolute;
  top:15%;
}
#image-div-container{
  position:relative;
  padding:2vw;
  /* background-color: red; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap:3vw;
}

#image-div-container .image-div{
  /* background-color: blue; */
  width:27vw;
  height:38vw;
  overflow:hidden;
  flex-shrink: 0;}
#image-div-container .image-div img{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center;
}
#image-div-container .image-div:nth-child(1){
  width:24vw;
  height:33vw;
}
.imageCircle{
  width:25vw;
  height:25vw;
  border-radius: 50%;
  border:2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.imageCircle svg{
  height: 32%;
}
.imageCircle:nth-child(3){
  margin-top:9vw;
  margin-left:10vw;
}
.imageCircle:nth-child(4) svg{
  rotate:-45deg;
  
}
.circle-in {
  width:100%;
  height:100%;
  border-radius: 50%;
  background-color: #fff;
  color:#0b0b0b;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  top:0;
  left: 0;
  scale:0;
  opacity: 0; 
  /* transition:all ease-in-out 0.3s; */
}
/* .imageCircle:nth-child(3):hover .circle-in:nth-child(2){
  scale: 1;
  opacity: 1;
}
.imageCircle:nth-child(3):hover .circle-in:nth-child(2) p{
  scale: 1;
  opacity: 1;
}
.imageCircle:nth-child(4):hover .circle-in:nth-child(2){
  scale: 1;
  opacity: 1;
}
.imageCircle:nth-child(4):hover .circle-in:nth-child(2) p{
  scale: 1;
  opacity: 1;
} */
.circle-in p{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "plain-light";
  font-size:0.8vw;
  font-weight: 500;
  font-size:0.9vw;
  width:70%;
  margin-left:15%;
  position:absolute;
  top:0;
  scale: 0;
  opacity: 0;
  left:0;
  transition: all ease-in-out 0.3s;
  transition-delay: 0.4s;
}
/* !Page 4 */
#page4 {
  min-height: 100vh;
  width: 100%;
  background-color: #0b0b0b;
  position: relative;
}

#page4Content {
  width: 70vw;
  /* background-color: palevioletred; */
  margin-left: 27vw;
  position: relative;
}
#page4Content h1 {
  font-family: "plain-regular";
  font-size: 6vw;
  position:relative;
}
#page4Content h1::before{
  content:"03";
  font-family: "silkseri-regular";
  font-weight: 300;
  font-size:3vw;
  left:-12%;  
  position:absolute;
  top:15%;
}
#page4line {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 4vw 0;
  border-radius: 1px;
  margin-bottom: 2vw;
}
#page4Content > p {
  font-family: "plain-light";
  font-size: 2.3vw;
  margin: 1vw 0;
  line-height: 2.5vw;
  width: fit-content;
  margin-bottom: 3vw;
}
#page4Flex {
  display: flex;
}
#page4Flex img {
  width: 48%;
}
#page4Flex p {
  font-family: "plain-light";
  font-size: 1vw;
  margin: 0 3vw;
}
#blueDiv {
  background-color: #3f7df4;
  width: 35vw;
  height: fit-content;
  padding: 4vw 4vw;
  position: relative;
  margin-top: -20%;
  margin-left: 35%;
}
#blueDiv .bluedivContent {
  display: flex;
  align-items: start;
  padding: 2vw 0;
  justify-content: space-between;

  border-bottom: 1px solid #fff;
}
#blueDiv .bluedivContent:nth-child(1) {
  padding-top: 1vw;
}
#blueDiv .bluedivContent p {
  width: 45%;
}
#blueDiv .bluedivContent h5 {
  font-size: 1.5vw;
  font-family: "plain-light";
  font-weight: 500;
}
#blueDiv .bluedivContent p {
  font-size: 1vw;
  font-family: "plain-light";
  font-weight: 100;
}
#page4FootElement {
  font-family: "plain-regular";
  font-size: 1vw;
  font-weight: 200;
}
#page5 {
  min-height: 100vh;
  width: 100%;
  padding-top:3vw;
}
#page5 .elem{
  display:flex;
  align-items: center;
  justify-content: start;
  flex-wrap:nowrap;
  overflow-x:hidden;
  overflow-y:hidden;
  gap:20px;
  margin:0;
  
}
#page5 .elem h1{
  font-size:8vw;
  flex-shrink:0;
  font-family: "plain-light";
  font-weight: 500;
  line-height:  8.9vw;
  -webkit-text-stroke: 1px #fff;
  color:transparent;
  /* background-color: red; */
  animation-name:textScroll;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  
}
#page5 .elem h1 span{
  font-family: "silkseri-regular";
}
#page5 .elem:nth-child(2n) h1{
  transform:translateX(calc(-100% - 20px));
  animation-direction: reverse;
}
@keyframes textScroll {
  0%{
    transform:translateX(0);
  }
  100%{
    transform:translateX(calc(-100% - 20px));
  }
  
}
footer{
  margin-top:10vw;
  min-height:70vh;
  width:100%;
  padding-left:27vw;
  font-family: "plain-regular";
  position: relative;
  margin-bottom: 15vw;
}
footer h1{
  font-size: 7.2vw;
  text-transform: uppercase;
  /* background-color: blue; */
  position: relative;
}
footer h1::before{
  content:"04";
  font-family: "silkseri-regular";
  font-weight: 300;
  font-size:3vw;
  left:-12%;  
  position:absolute;
  top:15%;
}
#footer-text {
  position: relative;

  /* background-color: red; */
}

#footer-text h2 {
  font-size: 7.2vw;
  text-transform: uppercase;
  position: absolute;
  top: 4%;
  font-weight: 500;

  left: 0;
  font-family: "silk serif";
}

#footer-text h2 span {
  font-family: "silk serif";
  opacity: 0;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}
#underline{
  height:1px;
  width:100%;
  background-color: #fff;
  margin:2vw 0;
  border-radius: 1px;
}

footer #footerFlex{
  display:flex;
  justify-content: space-between;
  padding-right:5vw;

}
footer #footerFlex .box{
  margin-bottom:5vw;
}
footer #footerFlex .box h6{
  margin-bottom: 2vw;  
  font-size:1vw;
  font-weight: 400;
}
footer #footerFlex .box h5{
  font-size:1.5vw;
  font-weight: 100;
}
footer #footerEndElement{
  padding-bottom:2vw;
  font-family: "plain-light";
  font-weight: 100;
}

._canvas_container{
  z-index: 9999 !important;
  pointer-events: none;
}
/* Flag */
#flag{
  height:27vw;
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  
}
.page1Header:nth-child(4) {
  /* background-color: red; */
  position: relative;
  z-index: 999;

}